<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("_MetaPartial")
	@await Html.PartialAsync("_CssPartial")
</head>
<body class="is-preload left-sidebar">
	<div id="page-wrapper">

		@await Html.PartialAsync("_HeaderPartial")

		<div id="main-wrapper">
			<div class="container">
				<div class="row gtr-200">
					@RenderBody()
				</div>
			</div>
		</div>

		@await Html.PartialAsync("_FooterPartial")
	</div>
	@await Html.PartialAsync("_ScriptsPartial");
</body>
</html>
