@inject IConfiguration config
@{
	Appconfig?  appconfig = config.GetSection("Project").Get<Appconfig>();
}
<title>@(ViewBag.Title ?? appconfig?.Company.CompanyName)</title>
<link  rel="shortcut icon" href="~/img/appliance-instructions.png"/>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />