<div class="col-4 col-12-medium">
	<div id="sidebar">
		<section>
			<header class="major">
				<h2>Velcom to future</h2>
			</header>
			<p>
				Добро пожаловать в CrafterCompany — где металл обретает форму мечты. Мы не просто обрабатываем металл.
				Мы создаём будущее отрасли, где точность, инновации и страсть к совершенству соединяются в каждом проекте.
				От идеи до готовой детали — мы воплощаем ваши замыслы с инженерной точностью и человеческим теплом.
		    </p>
			<footer>
				<a asp-area="" asp-controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Перейти к услугам</a>
			</footer>
		</section>
	</div>
</div>

