@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>CrafterCompany — когда технология становится искусством. </h2>1.
				<p>
					CrafterCompany — формуем будущее.
					Твоя идея. Наш металл. Общее будущее.
					От чертежа до легенды — вместе с CrafterCompany.
					Металл мечты. Технологии реальности.
					CrafterCompany — точность, которая вдохновляет.
			   </p>
			</header>
			<span class="image featured"><img src="~/img/предприятие по обработке металла 1.jpg" alt="welcome" /></span>
		</article>

	</div>
</div>