@await Html.PartialAsync("_SidebarPartial")
<div class="col-8 col-12-medium imp-medium">
	<div id="content">
		<article>
			<header class="major">
			<h2> Пиломатериалы и сырьё</h2>1.
				<p>
				Древесина — это живой материал, который несёт в себе дыхание природы.
				Каждая доска — как страница истории леса, с уникальной текстурой и ароматом.
				Натуральное дерево создаёт ощущение уюта, тепла и надёжности, которое невозможно подделать.
				Это экологичный выбор: вы строите не просто дом, а гармонию с окружающим миром.
				Пиломатериалы — основа, на которой рождаются мечты: от беседки до семейного очага.
			   </p>
			</header>
			<span class="image featured"><img src="~/img/metalworking_machin.jpg" alt="welcome" /></span>
		</article>

	</div>
</div>